<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const chatroomid = "<%= chatroomid %>";
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/chatscript.js" defer></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
                     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>
    <link rel="stylesheet" href="/chatstyle.css">
</head>

<body>
    <h1>chat</h1>
    <div id="message-container">
        <div class="show_message">
        </div>
        <form id="sent-container">
            <input type="text" id="message-input">
            <button type="submit" id="send-button"><i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
    <div id="output">
    </div>
    <button onclick="test()">start video call</button>
    <button onclick="phatu()">leave meeting</button>
    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyA1Np2SQDp_VkUGEswSNVW_Leln1ijTFR0",
            authDomain: "engage-21.firebaseapp.com",
            projectId: "engage-21",
            storageBucket: "engage-21.appspot.com",
            messagingSenderId: "224559810186",
            appId: "1:224559810186:web:44603abed3e3124b0e4f73",
            measurementId: "G-1DGGM41SNN"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshots: true });
    </script>
</body>

</html>