body {
  background: linear-gradient(to bottom right, #1b2127, #191e25);

  color: whitesmoke;
  text-align: center;
}
#sent-container {
  position: absolute;
  bottom: 10px;
  left: 40px;
}
#message-input {
  border: 1px solid #66707e;
  width: 90vw;
  height: 35px;
  border-radius: 20px;
  background-color: #222933;
  color: white;
}
#send-button {
  color: #51b56d;
  background: inherit;
  border: none;
  font-size: 20px;
}
.isent {
  display: flex;
  color: white;
  max-width: 100%;
  width: auto;
  flex-direction: row-reverse;
}
.green {
  background-color: #51b56d;
  border-radius: 8px 8px 0px 8px;
  padding: 10px;
  font-size: 13px;
  margin: 5px;
}
.blue-blac {
  background-color: #252c34;
  padding: 10px;
  font-size: 13px;
  border-radius: 8px 8px 8px 0px;
  margin: 5px;
}
.comingmessage {
  text-align: left;
  color: white;
  max-width: 100%;
  width: auto;
  display: flex;
}
.sendername {
  /* border: 1px solid white; */
  font-size: 8px;
  width: fit-content;
  height: 10px;
  position: relative;
  bottom: -40px;
}
.show_message {
  height: auto;
  position: absolute;
  width: 90vw;
  bottom: 70px;
  right: 108px;
  z-index: -1;
}
button {
  border: 1px solid white;
  background-color: #fefbd8;
  height: 39px;
  margin: 10px;
  border-radius: 10px;
}
